<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>BI_main</title>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../lib/jquery/jquery-1.11.1.min.js"></script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../lib/bootstrap/bootstrap.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../lib/bootstrap/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="../lib/default00.css">

    <style type="text/css">
        body {
            background-color: #F7F7F7;
            padding-top: 60px;
            padding-left: 5px;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="header00">

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a class="glyphicon glyphicon-arrow-left text-left padding-left15" href="#"> </a>
        </div>
        <div class="btn-group" role="group">
            <a type="button" class="btn">今日情况</a>
        </div>
        <div class="btn-group" role="group">
            <a class="btn navbar-btn" href="#">2017.03.22</a>
        </div>
    </div>

</nav>

<nav class="navbar navbar-default navbar-fixed-bottom padding-top5" role="navigation" id="footer00">

    <div class="btn-group btn-group-justified" role="group" aria-label="123123123">
        <div class="btn-group" role="group">
            <a type="button" class="btn">全院视角</a>
        </div>
        <div class="btn-group" role="group">
            <a type="button" class="btn">科室视角</a>
        </div>
        <div class="btn-group" role="group">
            <a type="button" class="btn">医生视角</a>
        </div>
        <div class="btn-group" role="group">
            <a type="button" class="btn">设置</a>
        </div>
    </div>

</nav>

<div class="container-fluid" id="container00">


</div>

</body>
</html>