<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>BI_main</title>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../lib/jquery/jquery-1.11.1.min.js"></script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../lib/bootstrap/bootstrap.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../lib/bootstrap/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="../lib/default00.css">

    <style type="text/css">
        body {
            background-color: #F7F7F7;
            padding-left: 5px;
        }

    </style>
</head>
<body>
<header id="header0"></header>
<footer id="footer0"></footer>


<div class="container-fluid">
    <row>

    </row>

    <row>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="project01.html"></iframe>
        </div>
    </row>


    <div class="col-sm-3 col-md-2">
        <div id="dictTree"></div>
    </div>
    <div class="col-sm-9 col-md-10">
        1243443
    </div>
</div>

</body>

<!--数据服务-->
<script src="./js/service.js"></script>
<script src="./js/tools.js"></script>
<script src="./js/controller.js"></script>
</html>